<!doctype html>
<html>
<head>
	<meta charset="utd-8">
	<meta http-wquiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Question</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
</head>
<body>






<p>
	<h1>{{ question_number }}. {{ question }}</h1><br>
	<form action="{% url "answer_page" quiz.quiz_number question_number %}" method="post">
		{% csrf_token %}

		<label><input type="radio" name="answer" value="1" checked> {{ answer1 }}</label><br>
		<label><input type="radio" name="answer" value="2"> {{ answer2 }}</label><br>
		<label><input type="radio" name="answer" value="3"> {{ answer3 }}</label>

<!-- 		<label><input type="radio" name="answer" value="1" id="optionsRadios1" checked=""> {{ answer1 }}</label><br -->

		<br>
		<button type="submit">Nästa</button>
</p>


	</form>





<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>